@page
@model hosApp.Pages.Consultations.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Consultation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.IdDoctor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.IdDoctor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.diagnostic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.diagnostic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation.Case)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consultation.Case.ID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Consultation.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
